footer{
    background-color:blue ;
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    padding: 12px;
    height: 50px;
    width: 100%;
    font-size: 4px;
}

.icon{
    margin-right: 1em;
    display: flex;
    color: white;
} 

.copyright {
    display: flex;
    align-items: center;
    color: white;
    width: 300px;
    flex: 0.3;
    font-size: 12px;
    font-weight: bolder 2px;
  } 